body{
    margin: 0;

}

/* Navigation bar */

header{
    margin: 0 0 100px 0;
}

.stickyTop ul{
    padding: 5px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-color: black;
    border-width: 3px;
    border-style: solid;

}

.stickyTop li a{
    text-decoration: none;
    color:black;
    font-size: 2em;
    display: inline-block;
    list-style: none;
    display: inline-block;

}

.stickyTop a:hover{
    background-color:rgb(212, 108, 108) ;
    border-radius: 35%;
}

/* .stickyTop a:hover:nth-of-type(2n){
    background-color: rgb(214, 174, 98);
} */

.navLeft{
    text-align: left;
}

.navCenter{
    text-align: center;
    /* display: inline-block; */
    
}

.navRight{
    text-align: right;
   

}
.navRight li{
    display: inline-block;
    padding: 0 15px;
}


/* Main BOdy of COntent */


main{
    display: block;
    margin: 25px 2px 0 2px;

}